pyrogram
pyrofork
tgcrypto
pymongo[srv]==
motor
marshmallow
umongo
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
shortzy
aiohttp
aiofiles
psutil==5.9.4
telegraph
httpx[http2]
httpx
fuzzywuzzy
