pyrogram
pyrofork
tgcrypto
pymongo[srv]
motor
marshmallow==4.0.0
umongo==3.1.0
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
shortzy
aiohttp
aiofiles
psutil==5.9.4
telegraph
httpx[http2]
httpx
fuzzywuzzy
python-Levenshtein
